ul {
  list-style-type: none;
}
.home-nav a {
  color: #f4f2f2;
}
.btn-log, .nav-color {
  background-color: #78B857;
}
.log {
  margin-top: 15%;
}
.user-title {
  background-color: #78B857;
  border: 2px solid #f4f2f2;
}
.admin-menu {
  margin-top: 2.5%;
}
.admin-menu a {
  color: #22285D;
}
.admin-ui {
  padding: 10%;
}
